// You can use Sass (SCSS) here: http://sass-lang.com/


//Clases para identificar urgencia de solicitudes
.priority-1
{
  background-color: rgb(255,70,70);  //rojo
}
.priority-2
{
  background-color: rgb(229, 255, 13); //amarillo
}
.priority-3
 {
  background-color: rgb(158, 240, 150); //verde
 }