/*--- Modificaciones al modal base para ajustarse a nuestras necesidades ---*/
#modal-popup {
  width: 700px !important;
  margin: 0 0 0 -350px !important;
}

.modal.fade.in {
  top: 3%!important;
}
#modal-popup .modal-body {
  max-height: 750px;
}
#modal-popup textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.bootstrap-datetimepicker-widget{
  z-index: 2000!important;
}
