/*--- Modificaciones al modal base para ajustarse a nuestras necesidades ---*/

@media (min-width: 768px){
  #modal-popup {
    width: 700px !important;
    margin: 0 0 0 -350px !important;
  }
}

.modal.fade.in {
  top: 3%!important;
}
#modal-popup .modal-body {
  max-height: 750px;
}

#modal-popup textarea {
  width: 100%;
  height: 100px;
  resize: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Para que rails no desarme los inputs con input-append */
.field_with_errors {
  display: inline;
}

.bootstrap-datetimepicker-widget{
  z-index: 2000!important;
}

.select2-offscreen{
  width: 0;
}

.label-comments{
  font-style: italic;
  font-size: 0.9em;
}

//Popup cambio de salas
.rooms_status_container
{
  .maintenance_comments_panel
  {
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;

    .span12
    {
      margin-bottom: 10px;
    }

    .span3:first-child
    {
      margin-left: 17px;
    }
  }
  .span3:first-child
  {
    margin-left: 17px;
  }
  .radio_button_panel
  {
    input
    {
      float: left;
    }
    .span12
    {
      margin-left: 0;
    }
  }
}