<div class='legend-room-status'>
  Leyenda: <span class="legend-square status-free"></span> Libre
  <span class="legend-square status-occupied"></span> Ocupada
  <span class="legend-square status-maintenance"></span> En Mantenimiento
  <span class="legend-square status-pending"></span> Solicitud pendiente
  <span class="legend-square status-cleaning"></span> En Limpieza
</div>