<div class='legend-priority'>
    Leyenda: <span class="legend-square priority-1"></span> Alta
             <span class="legend-square priority-2"></span> Media
             <span class="legend-square priority-3"></span> Baja
</div>