<div class='legend-urgency'>
    Leyenda: <span class="legend urgency-high"></span> Alta
             <span class="legend urgency-medium"></span> Media
             <span class="legend urgency-low"></span> Baja
</div>