<div id="modal-popup" class="modal hide" tabindex="-1" role="dialog">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <div id="modal-content">
    <%= image_tag 'cargando.gif', :class => 'loading-img' %>
  </div>
</div>