<% if token.errors.any? %>
    <div id="error_explanation" class='alert alert-error'>
      <ul>
        <% token.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>