<div id="modal-popup" class="modal hide fade" tabindex="-1" role="dialog">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <div id="modal-content">
    <img class="loading-img" src="/assets/images/cargando.gif">
  </div>
</div>