/**
 * Created with JetBrains RubyMine.
 * User: gio
 * Date: 14-05-13
 * Time: 03:01 AM
 * To change this template use File | Settings | File Templates.
 */

function pretty_excel_input(){
    var excel_input = $('#excel');
    excel_input.hide();
    $('#pretty-excel-btn').click(function(){
        excel_input.click();
    });
    excel_input.change(function(){
        $('#pretty-excel').val($(this).val());
    });
}
//2. Crear listbox AJAX
$(function()
{
    pretty_excel_input();

    $('#agenda').fullCalendar({
        // options
        theme: false,
        buttonText:
        {
            today: 'Hoy',
            week: 'Semanal',
            day: 'Diario'
        },
        firstDay: 1,
        header:
        {
            left: 'title',
            center: '',
            right: 'today, prev, next'
        },
        defaultView: 'basicDay',
        weekMode: 'variable',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
            'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep',
            'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        titleFormat:{   day: 'MMMM d, yyyy' },
        columnFormat:{  day: 'dddd' },
        // sources
        events: {
            url: 'agenda/get_cleanup_requests',
            type: 'GET',
            data: {
                'sector':   $('#sectors_collection').val()
            },
            error: function() {
                alert('there was an error while fetching events!');
            }
        },
        // callbacks
        dayClick: function(date, allDay, jsEvent, view)
        {
            if (allDay) {
                alert('Clicked on the entire day: ' + date);
            }else{
                alert('Clicked on the slot: ' + date);
            }

            alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

            alert('Current view: ' + view.name);

            // change the day's background color just for fun
            $(this).css('background-color', 'red');

        },
        eventClick: function(calEvent, jsEvent, view)
        {
            if(calEvent.cleanupStatus != "inactive")
                show_modal(calEvent.popupUrl);
        },
        viewDisplay: function (element)
        {
            updateCalendarForAgendaDate();
        }
    });


    $('#zones_collection').change(function()
    {
        //incrusta html devuelto dentro del <option> sectors
        if($('#zones_collection').val())
        {
            $('#sectors_collection').html('<option value="">Cargando...</option>');
            $.ajax({
                type: "GET",
                url: "/api/rooms/load_zone",
                data: { 'zone': $('#zones_collection').val() },
                success: function(data)
                {
                    $('#sectors_collection').html('');
                    for(i = 0; i < data['sectors'].length; i++)
                    {
                        var opt = $('<option></option>');
                        opt.val(data['sectors'][i]['id']);
                        opt.text(data['sectors'][i]['name']);
                        $('#sectors_collection').append(opt);
                    }

                    updateAgendaFullCalendar();
                }
                ,
                error: function (jqXHR, textStatus, errorThrown){
                    console.error("OCURRIO EL SIGUIENTE ERROR: " + textStatus, errorThrown);
                }
            });
        }
        else
            $('#sectors_collection').html('<option value="">-----</option>');
    });

    $('#sectors_collection').change(function()
    {
        //incrusta html devuelto dentro del <option> sectors
        if($('#sectors_collection').val())
        {
            updateAgendaFullCalendar();
        }
    });

    $('#calendar_for_agenda').datepicker({
        currentText: 'Hoy',
        dateFormat: 'dd-mm-yy',
        dayNames: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
        dayNamesShort: ["Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb", "Dom"],
        dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa", "Do"],
        firstDay: 1,
        gotoCurrent: true,
        monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
        monthNamesShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
        nextText: 'Siguiente',
        prevText: 'Anterior',
        showOtherMonths: true,
        selectOtherMonths: true,
        onSelect: function(dateText, inst) {
            //alert(dateText);
            var day = dateText.split('-')[0];
            var month = parseInt(dateText.split('-')[1]) - 1;
            var year = dateText.split('-')[2];
            $('#agenda').fullCalendar( 'gotoDate', year, month, day);
        }
    });
});

function updateAgendaFullCalendar()
{
    var agenda = $('#agenda');
    agenda.fullCalendar('removeEventSource', 'agenda/get_cleanup_requests');
    agenda.fullCalendar('removeEvents');

    agenda.fullCalendar('addEventSource', {
        url: 'agenda/get_cleanup_requests',
        type: 'GET',
        data: {
            'sector':   $('#sectors_collection').val()
        },
        error: function() {
            alert('there was an error while fetching events!');
        }
    });

    agenda.fullCalendar('refetchEvents');
}

function updateCalendarForAgendaDate()
{
    var currentDate = $('#agenda').fullCalendar('getDate');
    $('#calendar_for_agenda').datepicker('setDate', currentDate);
}