<h1>Calendario</h1>

<div style="margin-bottom: 20px">
    <button class="btn"><i class="icon-plus"></i> Agregar aseo terminal</button>
</div>

<div id='calendar'></div>

<style>
  .calendar-cleanup-instance {
      color: white;
      font-weight: bold;
  }

  .calendar-cleanup {
      color: yellow;
  }
</style>

<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            // options
            theme: false,
            firstDay: 1,
            weekMode: 'variable',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
                        'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
            // sources
            events: {
                url: '<%= url_for :action => :get_events %>',
                type: 'GET',
                data: {
                },
                error: function() {
                    alert('there was an error while fetching events!');
                }
            },
            // callbacks
            dayClick: function(date, allDay, jsEvent, view) {
                alert('a day has been clicked! Current view: ' + view.name);
            },
            eventClick: function(calEvent, jsEvent, view) {
                alert('a event has been clicked! Event: ' + calEvent.title);
            }
        });
    });
</script>