<div class="modal-header">
  <h1>Finalizar Solicitud de Limpieza</h1>
</div>
<div class="modal-body">
     <h3>Falta el contenido</h3>
</div>
<div class="modal-footer">
  <%= link_to 'Eliminar Solicitud', '#' , :class =>'btn btn-danger' %>
  <%= link_to 'Cerrar', '#' , :class => 'btn btn-primary', 'data-dismiss' => 'modal' %>
</div>