// Place all the styles related to the personal/shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shifts_panel
{
  .shifts_selector_panel
  {
    padding-top: 15px;

    #shifts_collection
    {
      height: 400px;
    }
  }

  .info_panel
  {
    .nav
    {
      margin-bottom: 0px;
    }

    .info_container
    {
      width: 96%;
      padding: 2%;
      height: 380px;
      border-right: solid 1px #DDD;
      border-left: solid 1px #DDD;
      border-bottom: solid 1px #DDD;

      .timepicker
      {
        .icon-time
        {
          margin-top: 3px;
        }
      }

      .btn-primary
      {
        margin-top: 10px;
      }

      .shift_comments_textarea
      {
        height: 150px;
      }
    }
  }
}