/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require select2
 *= require_tree .
 */

span.legend-square
{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 1px 0 1px 10px;
    line-height: 14px;
}

.loading-img {
    height: 350px;
    width: 350px;
    margin: 0 auto;
    display: block;
}

/*Alinear texto de las tablas al centro*/
.table td,
.table th {
    text-align: center!important;
}

a .icon-black{
 color: black!important;
}

.no-underline:hover{
   text-decoration: none!important;
}

@media (min-width:768px)
{
    .row-fluid .sidebar-nav
    {
        min-height: 500px;
    }
}

.status-maintenance
{
    background-color: #FFAD33 !important; /* cafe */
    border-color: #FFAD33 !important;
    color: black !important;
}
.status-free
{
    background-color: #00BE00 !important; /* verde */
    border-color: #00BE00 !important;
    color: black !important;
}
.status-occupied
{
    background-color: #0ACAC3 !important;  /* azul */
    border-color: #0ACAC3 !important;
    color: black !important;
}
.status-cleaning,
.status-being-attended
{
    background-color: #FFFF33 !important; /* amarillo */
    border-color: #FFFF33 !important;
    color: black !important;
}
.status-pending
{
    background-color: #E63030 !important; /* rojo */
    border-color: #E63030 !important;
    color: black !important;
}

.status-inactive
{
    background-color: #468966 !important; /* verde especial */
    border-color: #468966 !important;
    color: black !important;
}

/* Usado cuando hay que mostrar un error 500 de Rails en un popup */
.modal-popup-error-wrapper {
    padding: 10px;
    height: 500px;
    overflow: scroll;
}

/*Distancia entre iconos y lo que le siga*/
a [class^="icon-"], a [class*=" icon-"] {
    margin-left: 5px;
}