/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require select2
 *= require_tree .
 */

span.legend-square
{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
}

.loading-img {
    height: 350px;
    width: 350px;
    margin: 0 auto;
    display: block;
}

/*Alinear texto de las tablas al centro*/
.table td,
.table th {
    text-align: center!important;
}

@media (min-width:768px)
{
    .row-fluid .sidebar-nav
    {
        min-height: 500px;
    }
}

.status-maintenance
{
    background-color: chocolate; //cafe
}
.status-free
{
    background-color: #00BE00; //verde
}
.status-occupied
{
    background-color: #4A97BD;  //azul
}
.status-cleaning
{
    background-color: #E9F300; //amarillo
}
.status-pending
{
    background-color: #E63030; //rojo
}