<div class='legend-list-employees'>
  Leyenda: <i class="icon-pencil icon-black"></i> Editar |
  <i class="icon-briefcase icon-black"></i> Historial de Trabajo |
  <i class="icon-list-alt icon-black"></i> Historial de Limpieza |
  <i class="icon-tag icon-black"></i> Asignar Turno
</div>